<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <style type="text/css">
      body{
        font-family: 'Prompt', sans-serif;
      }
    </style>
    <title>{% block title %}Welcome{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light mb-1">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">RightJob</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'occupation' %}">Occupation</a>
              </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="{% url 'logout' %}">Log out</a> -->
                        <a href="{% url 'logout' %}" class="btn btn-secondary ml-3">Log out</a>
                    </li>
                </ul>
            {% else %}
                <form class="form-inline my-2 my-lg-0">
                    <a href="{% url 'login' %}" class="btn btn-secondary ml-3">Log in</a>
                    <a href="{% url 'signup' %}" class="btn btn-primary ml-3">Sign Up</a>
                </form>
            {% endif %}
          </div>
        </div>
      </nav>
      
    <br>
    {% block content %}
    {% endblock %}
  </body>
</html>