{% extends 'base.html' %}
{% block title %}Occupation{% endblock %}
{% block content %}
<style>
	h5 {text-align: center;}
</style>
	

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
<h1>ค้นหาอาชีพที่เหมาะกับคุณ</h1>
	<div class="form-group">
		<form method="GET" action="{% url 'occupation' %}">
			Keyword for search : <input type="text" name="search">
			<button class="btn btn-success ml-3">Search</button>

			<br><strong>อาชีพที่แนะนำ</strong><br>

			{% for data in dataList %}
			<div class="card w-95 row mt-2">
				<div class="card-body">
					{% if data == 'ไม่มีอาชีพที่คุณค้นหา กรุณาใช้คำอื่น' %}
					<h5>{{ data }}</h5>
					{% else %}
					<h4 class="card-title">{{ data }}</h4>
					<p class="card-text"><small>ท่านสามารถอ่านรายละเอียดเพิ่มเติมได้โดยคลิกที่ปุ่มด้านล่าง</small></p>
					<form method="GET" action="{% url 'moreinfo' data %}">
					<a href="{% url 'moreinfo' data %}" class="btn btn-primary ml-3">อ่านเพิ่มเติม</a>
					{% endif %}
				</form>
				  
				</div>
			  </div>
			{% endfor %}

		</form>
	</div>
</div>
</div>

</div>
</div>


</body>
</html>

{% endblock %}