{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

<h1>Edit Profile</h1>
{% for data in dataUser %}
    <p>First name : {{ data.Firstname }}</p>
    <p>Last name : {{ data.Lastname }}</p>
    <p>Email : {{ data.email }}</p>
    <p>Skills : {{ data.skill }}</p><br/><hr>
{% endfor %}

<div class="form-group">
    <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ context.form.as_p }}
        <button class="btn btn-secondary">Save</button>
    </form>
</div>

{% endblock %}
